@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800");
* {
  box-sizing: border-box; }

.size {
  display: block;
  position: fixed;
  top: 30px;
  left: 30px;
  height: 20px;
  width: 20px;
  background-color: orange;
  z-index: 800; }
  @media all and (min-width: 320px) {
    .size {
      background-color: yellow; } }
  @media all and (min-width: 480px) {
    .size {
      background-color: green; } }
  @media all and (min-width: 640px) {
    .size {
      background-color: blue; } }
  @media all and (min-width: 800px) {
    .size {
      background-color: red; } }
  @media all and (min-width: 960px) {
    .size {
      background-color: cyan; } }
  @media all and (min-width: 1120px) {
    .size {
      background-color: violet; } }
  @media all and (min-width: 1280px) {
    .size {
      background-color: pink; } }
  @media all and (min-width: 1440px) {
    .size {
      background-color: CORAL; } }
  @media all and (min-width: 1600px) {
    .size {
      background-color: ROSYBROWN; } }
  @media all and (min-width: 1900px) {
    .size {
      background-color: black; } }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

figure {
  margin: 0; }

body {
  color: #757575;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  margin: 0;
  text-size-adjust: none; }

a {
  color: #2b2b2b; }

a:focus {
  outline: 1px dotted; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.25;
  margin: 1em 0 1em 0;
  page-break-after: avoid; }

h1 {
  font-size: 1.667em;
  color: #00afef; }
  @media all and (min-width: 640px) {
    h1 {
      font-size: 2.333em; } }

h2 {
  font-size: 1.225em;
  color: #00afef; }

@media-query (micro) {
  h2 {
    font-size: 1.667em; } }

h3 {
  font-size: 1em;
  font-weight: 700;
  color: #2b2b2b; }

hr {
  border: 0;
  border-top: 1px solid;
  margin: 1em 0; }

blockquote {
  margin: 1em 2em; }

p {
  margin: 1em 0; }

pre {
  margin: 1em 0;
  white-space: pre-wrap; }

address,
cite,
dfn,
em,
i,
var {
  font-style: italic; }

b,
strong {
  font-weight: bold; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 0.875em; }

pre code,
pre kbd,
pre samp {
  font-size: 1em; }

small {
  font-size: 0.75em; }

sub,
sup {
  font-size: 0.75em;
  line-height: 0; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

dl {
  margin: 1em 0; }

dd {
  margin-left: 2em; }

ol,
ul {
  margin: 1em 0;
  padding-left: 0em; }

ol li {
  list-style: decimal outside none; }

ol li li {
  list-style: lower-alpha outside none; }

ol li li li {
  list-style: lower-roman outside none; }

ul li {
  list-style: none outside none;
  vertical-align: middle;
  padding: 0.5em 0 0.5em 0; }
  ul li:last-child {
    padding: 0.5em 0 1em 0; }
  ul li:before {
    content: '';
    background: url(/static/images/check.svg) no-repeat;
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: top;
    padding-right: 5px; }

path {
  fill: #ff9758; }

ul li li {
  list-style: none outside none; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em auto; }

td,
th {
  padding: 0.25em 0.5em;
  text-align: left; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }

.wrapper {
  padding: 2em 1em;
  margin: 0 auto;
  max-width: 1920px; }
  @media all and (min-width: 480px) {
    .wrapper {
      padding: 1em 2em; } }

.inner-wrapper {
  max-width: 1280px;
  margin: 0 auto; }
  @media all and (min-width: 480px) {
    .inner-wrapper {
      padding: 1em 0; } }
  @media all and (min-width: 1440px) {
    .inner-wrapper {
      padding: 2em 0; } }

.table-section {
  margin: 3em 0; }
  .table-section table tr td {
    width: 82%; }
    .table-section table tr td + td {
      text-align: center; }

table {
  width: 100%;
  font-size: 0.889em; }
  table tr {
    background-color: #00afef;
    color: #ffffff;
    text-shadow: 0px 0px 2.88px rgba(0, 0, 0, 0.35);
    font-weight: 700; }
    table tr td {
      border: 1px solid #ffffff;
      padding: 0.85em;
      width: 50%; }
      table tr td + td {
        background-color: #23447a; }

button,
input,
select,
textarea {
  border-radius: 0;
  font: inherit;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

::-ms-clear {
  display: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

input:focus,
textarea:focus {
  outline: 0; }

:invalid {
  box-shadow: none; }

label {
  font-family: "Montserrat", sans-serif; }

.header {
  width: 100%;
  position: relative;
  z-index: 600;
  background-color: #ffffff; }
  .header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media all and (min-width: 640px) {
      .header .wrapper {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap; } }
    @media all and (min-width: 800px) {
      .header .wrapper {
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
                justify-content: center; } }
    @media all and (min-width: 1440px) {
      .header .wrapper {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
                justify-content: space-between; } }
    @media all and (min-width: 1900px) {
      .header .wrapper {
        padding: 1em 0.5em 0 0.5em; } }
    .header .wrapper .title {
      margin: 0;
      padding-right: 0.5em;
      max-width: 60%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
              order: 1; }
      @media all and (min-width: 640px) {
        .header .wrapper .title {
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
                  order: 0; } }
      @media all and (min-width: 800px) {
        .header .wrapper .title {
          -webkit-box-ordinal-group: 2;
          -webkit-order: 1;
                  order: 1; } }
      @media all and (min-width: 1440px) {
        .header .wrapper .title {
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
                  order: 0; } }
      @media all and (min-width: 1900px) {
        .header .wrapper .title {
          padding: 0 0.8em 0 0.5em; } }
    .header .wrapper .phone-tag-wrapper {
      padding: 0.5em 0;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
              order: 2; }
      @media all and (min-width: 320px) {
        .header .wrapper .phone-tag-wrapper {
          padding: 0.5em 0.5em 0 0.5em; } }
      @media all and (min-width: 480px) {
        .header .wrapper .phone-tag-wrapper {
          width: 50%; } }
      @media all and (min-width: 640px) {
        .header .wrapper .phone-tag-wrapper {
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
                  order: 0;
          width: auto;
          padding: 0 0.5em 0 0.5em; } }
      @media all and (min-width: 800px) {
        .header .wrapper .phone-tag-wrapper {
          -webkit-box-ordinal-group: 4;
          -webkit-order: 3;
                  order: 3;
          padding: 0 8em 0 0; } }
      @media all and (min-width: 1280px) {
        .header .wrapper .phone-tag-wrapper {
          padding: 0 0 1.5em 0;
          -webkit-box-ordinal-group: 3;
          -webkit-order: 2;
                  order: 2; } }
      @media all and (min-width: 1440px) {
        .header .wrapper .phone-tag-wrapper {
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
                  order: 0;
          margin: 0 auto 0 0;
          padding: 0 0 1.5em 0; } }
      .header .wrapper .phone-tag-wrapper .header-phone {
        color: #01afed;
        font-weight: 700;
        font-size: 1.222em;
        text-decoration: none; }
        @media all and (min-width: 1440px) {
          .header .wrapper .phone-tag-wrapper .header-phone {
            font-size: 1.667em; } }
      .header .wrapper .phone-tag-wrapper .header-tag-line {
        display: none;
        margin: 0; }
        @media all and (min-width: 800px) {
          .header .wrapper .phone-tag-wrapper .header-tag-line {
            display: block; } }
    .header .wrapper .header-get-quote {
      color: #2b2b2b;
      background-color: #ff9758;
      font-weight: 700;
      box-shadow: 4px 4px 8px rgba(102, 138, 197, 0.1);
      text-decoration: none;
      padding: 0.5em 2em;
      -webkit-align-self: center;
              align-self: center;
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
              order: 3; }
      @media all and (min-width: 320px) {
        .header .wrapper .header-get-quote {
          margin: 0.5em 0 0 0; } }
      @media all and (min-width: 480px) {
        .header .wrapper .header-get-quote {
          width: 50%;
          text-align: center; } }
      @media all and (min-width: 640px) {
        .header .wrapper .header-get-quote {
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
                  order: 0;
          width: auto;
          margin: 0 0.5em 0 0; } }
      @media all and (min-width: 800px) {
        .header .wrapper .header-get-quote {
          -webkit-box-ordinal-group: 4;
          -webkit-order: 3;
                  order: 3; } }
      @media all and (min-width: 1440px) {
        .header .wrapper .header-get-quote {
          max-width: 221px;
          width: 100%;
          font-size: 1.222em;
          padding: 0.3em 0; } }
      @media all and (min-width: 1900px) {
        .header .wrapper .header-get-quote {
          margin: 0 0.75em 0.8em 0; } }
      .header .wrapper .header-get-quote:hover {
        background-color: #ffb78b; }

@media all and (min-width: 1440px) {
  .-sticky {
    position: fixed;
    top: 0;
    max-height: 110px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); } }
  @media all and (min-width: 1440px) and (min-width: 1440px) {
    .-sticky .title {
      width: 100%;
      max-width: 10% !important;
      margin-right: 3em !important; } }

@media all and (min-width: 1440px) {
    .-sticky + .main-content-container {
      padding-top: 163px; } }

.nav-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 500; }
  @media all and (min-width: 800px) {
    .nav-overlay {
      display: none; } }

.nav-toggle {
  background-color: #ffffff;
  background-image: url(/static/images/mob-menu.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 95% 50%;
  cursor: pointer;
  height: 50px;
  left: 0;
  top: 0;
  width: 50px;
  z-index: 200;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
          order: 1; }
  @media all and (min-width: 800px) {
    .nav-toggle {
      display: none; } }

.nav {
  background-color: #ffffff;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
  z-index: 1000; }
  @media all and (min-width: 480px) {
    .nav {
      right: 0; } }
  @media all and (min-width: 640px) {
    .nav {
      width: 50%; } }
  @media all and (min-width: 800px) {
    .nav {
      margin: 0;
      position: static;
      text-align: left;
      width: auto;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
              order: 2; } }
  @media all and (min-width: 1120px) {
    .nav {
      padding: 0 1em; } }
  @media all and (min-width: 1440px) {
    .nav {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
              order: 0; } }
  @media all and (min-width: 1900px) {
    .nav {
      padding: 0 0.5em 0.8em 0; } }
  .nav ul {
    padding: 0;
    margin: 0; }
    .nav ul li {
      cursor: pointer;
      padding: 0.5em 0;
      border-top: 1px solid #00afef; }
      @media all and (min-width: 800px) {
        .nav ul li {
          display: inline-block;
          padding: 0 0.5em 0 0;
          border-top: none; } }
      @media all and (min-width: 1440px) {
        .nav ul li {
          margin: 0 0.5em 0 0.5em;
          padding: 0; } }
      @media all and (min-width: 1600px) {
        .nav ul li {
          margin: 0 0.75em 0 0.75em; } }
      @media all and (min-width: 1900px) {
        .nav ul li {
          margin: 0 1.75em 0 1.75em; } }
      .nav ul li:before {
        display: none; }
      .nav ul li:last-child {
        border-bottom: 1px solid #00afef; }
        @media all and (min-width: 800px) {
          .nav ul li:last-child {
            border-bottom: none; } }
      .nav ul li a {
        display: block;
        color: #3b66ad;
        text-decoration: none;
        font-size: 1.222em; }
      .nav ul li:hover {
        background-color: #00afef; }
        @media all and (min-width: 800px) {
          .nav ul li:hover {
            background-color: #ffffff; } }
        .nav ul li:hover a {
          color: #ffffff; }
          @media all and (min-width: 800px) {
            .nav ul li:hover a {
              color: #01afed; } }
    .nav ul .current-menu-item a {
      border-left: 2px solid #ff9758;
      padding: 0 0 0 0.2em; }
    .nav ul .child-pages:after {
      content: '';
      display: inline-block;
      background: url(/static/images/triangle.png) no-repeat;
      width: 7px;
      height: 7px;
      padding: 0 0 0.1em 0;
      margin: 0 0 0 0.3em; }

.-closed {
  display: none; }

.main-content-container .inner-banner .wrapper {
  background-image: url(/static/images/banner-image.png);
  background-size: cover;
  background-position: center 35%; }
  @media all and (min-width: 1900px) {
    .main-content-container .inner-banner .wrapper {
      padding: 0.75em 2em; } }
  @media all and (min-width: 1120px) {
    .main-content-container .inner-banner .wrapper .inner-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
              flex: 0 0 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
              flex-direction: row; } }
  .main-content-container .inner-banner .wrapper .inner-wrapper h1 {
    color: #ffffff;
    margin: 0 0 1em 0;
    text-align: center; }
    @media all and (min-width: 480px) {
      .main-content-container .inner-banner .wrapper .inner-wrapper h1 {
        text-align: left; } }
    @media all and (min-width: 1120px) {
      .main-content-container .inner-banner .wrapper .inner-wrapper h1 {
        margin: 1em 0 1em 0; } }
  .main-content-container .inner-banner .wrapper .inner-wrapper .inner-accreditations {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media all and (min-width: 480px) {
      .main-content-container .inner-banner .wrapper .inner-wrapper .inner-accreditations {
        -webkit-box-pack: end;
        -webkit-justify-content: end;
                justify-content: end; } }
    @media all and (min-width: 1120px) {
      .main-content-container .inner-banner .wrapper .inner-wrapper .inner-accreditations {
        -webkit-box-align: center;
        -webkit-align-items: center;
                align-items: center;
        margin: 0 0 0 auto; } }
    .main-content-container .inner-banner .wrapper .inner-wrapper .inner-accreditations .accrediation {
      background: #fff url(/static/images/bicsc.png) center no-repeat;
      background-size: 85%;
      background-color: #ffffff;
      border-radius: 999px;
      width: 93px;
      height: 93px;
      border: 1px solid #ff9758;
      margin-right: 1em;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
              flex: 0 0 auto; }
      .main-content-container .inner-banner .wrapper .inner-wrapper .inner-accreditations .accrediation:last-child {
        margin-right: 0.5em; }

.inner-bread-crumb .wrapper .inner-wrapper {
  padding: 0;
  font-size: 0.778em; }
  @media all and (min-width: 1120px) {
    .inner-bread-crumb .wrapper .inner-wrapper {
      padding: 0.5em 0; } }
  .inner-bread-crumb .wrapper .inner-wrapper .link {
    color: #01afed;
    text-decoration: none; }
    .inner-bread-crumb .wrapper .inner-wrapper .link:before {
      content: '>';
      color: #01afed;
      display: inline-block;
      padding: 0 0.25em; }
    .inner-bread-crumb .wrapper .inner-wrapper .link:first-child:before {
      display: none; }
    .inner-bread-crumb .wrapper .inner-wrapper .link:hover {
      color: #3b66ad; }
  .inner-bread-crumb .wrapper .inner-wrapper .span {
    color: #01afed; }
    .inner-bread-crumb .wrapper .inner-wrapper .span:before {
      content: '>';
      color: #01afed;
      display: inline-block;
      padding: 0 0.25em; }

@media all and (min-width: 1900px) {
  .inner-main-content .wrapper {
    padding: 0.75em 2em; } }

.inner-main-content .wrapper .inner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media all and (min-width: 960px) {
    .inner-main-content .wrapper .inner-wrapper {
      padding: 0; } }
  .inner-main-content .wrapper .inner-wrapper .inner-main {
    max-width: 100%;
    width: 100%; }
    @media all and (min-width: 960px) {
      .inner-main-content .wrapper .inner-wrapper .inner-main {
        max-width: 63%; } }
    .inner-main-content .wrapper .inner-wrapper .inner-main h1:first-child {
      margin: 0; }
  .inner-main-content .wrapper .inner-wrapper .inner-side {
    max-width: 100%;
    width: 100%; }
    @media all and (min-width: 960px) {
      .inner-main-content .wrapper .inner-wrapper .inner-side {
        max-width: 25%;
        margin: 0 0 0 auto; } }
  .inner-main-content .wrapper .inner-wrapper .news-main {
    max-width: 100%;
    width: 100%;
    border-bottom: 1px solid #ff9758; }
    @media all and (min-width: 960px) {
      .inner-main-content .wrapper .inner-wrapper .news-main {
        max-width: 63%; } }
    .inner-main-content .wrapper .inner-wrapper .news-main h1:first-child {
      margin: 0; }
  .inner-main-content .wrapper .inner-wrapper .news-sharing {
    max-width: 100%;
    width: 100%;
    margin: 2.5em 0 2em 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media all and (min-width: 960px) {
      .inner-main-content .wrapper .inner-wrapper .news-sharing {
        max-width: 63%; } }
    .inner-main-content .wrapper .inner-wrapper .news-sharing > .back-button {
      color: #2b2b2b;
      background-color: #ff9758;
      font-weight: 700;
      box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
      text-decoration: none;
      padding: 0.5em 2em;
      -webkit-align-self: center;
              align-self: center;
      padding: 0.5em 1em; }
      .inner-main-content .wrapper .inner-wrapper .news-sharing > .back-button:hover {
        background-color: #ffb78b; }
      @media all and (min-width: 960px) {
        .inner-main-content .wrapper .inner-wrapper .news-sharing > .back-button {
          margin: 0 auto 0 0; } }
    .inner-main-content .wrapper .inner-wrapper .news-sharing .sharing-buttons {
      display: inline-block;
      margin: 0 auto 0 0; }
      @media all and (min-width: 480px) {
        .inner-main-content .wrapper .inner-wrapper .news-sharing .sharing-buttons {
          margin: 0 0 0 auto; } }
      .inner-main-content .wrapper .inner-wrapper .news-sharing .sharing-buttons > .heading {
        display: block;
        vertical-align: bottom;
        font-size: 0.889em; }
        @media all and (min-width: 480px) {
          .inner-main-content .wrapper .inner-wrapper .news-sharing .sharing-buttons > .heading {
            display: inline-block; } }
      .inner-main-content .wrapper .inner-wrapper .news-sharing .sharing-buttons .share {
        width: 35px;
        height: 35px;
        background-color: grey;
        display: inline-block;
        margin: 0 0.25em 0 0.25em; }
        .inner-main-content .wrapper .inner-wrapper .news-sharing .sharing-buttons .share:last-child {
          margin: 0 0 0 0.25em; }
    .inner-main-content .wrapper .inner-wrapper .news-sharing:after {
      content: '';
      display: block;
      clear: both; }

.inner-side .side-sub-nav {
  margin: 0 0 2em 0; }
  .inner-side .side-sub-nav h3 {
    margin-top: 0; }
  .inner-side .side-sub-nav ul {
    padding: 0;
    margin: 0.5em 0 0 0; }
    .inner-side .side-sub-nav ul li {
      border-top: 2px solid #ff9758;
      padding: 0.7em 0 0.7em 1em;
      position: relative; }
      .inner-side .side-sub-nav ul li:last-child {
        border-bottom: 2px solid #ff9758; }
      .inner-side .side-sub-nav ul li:before {
        display: none; }
      .inner-side .side-sub-nav ul li a {
        text-decoration: none;
        color: #01afed;
        display: block; }
        .inner-side .side-sub-nav ul li a:after {
          content: url("/static/images/triangle-right.png");
          position: absolute;
          right: 1em;
          bottom: 13px; }

.side-find-more {
  width: 100%;
  margin: 3em 0; }
  @media all and (min-width: 640px) {
    .side-find-more {
      float: left;
      width: 48%; } }
  @media all and (min-width: 960px) {
    .side-find-more {
      float: none;
      width: 100%; } }
  .side-find-more .find-more-container {
    margin: 3em 0; }
    .side-find-more .find-more-container:first-child {
      margin: 0 0 3em 0; }
    .side-find-more .find-more-container .find-more-image {
      background: url("/static/images/banner-domestic-carpet.jpg") no-repeat 50%;
      width: 100%;
      padding: 5.5em 0; }
    .side-find-more .find-more-container .find-more-heading {
      font-size: 1.444em;
      margin: 1em 0 0.5em 0;
      text-align: center;
      color: #ff6200; }
    .side-find-more .find-more-container .find-more-link {
      color: #2b2b2b;
      background-color: #ff9758;
      font-weight: 700;
      box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
      text-decoration: none;
      padding: 0.5em 2em;
      -webkit-align-self: center;
              align-self: center;
      font-size: 0.889em;
      text-align: center;
      display: block;
      padding: 1em;
      margin: 0 auto;
      max-width: 50%;
      width: 100%; }
      .side-find-more .find-more-container .find-more-link:hover {
        background-color: #ffb78b; }
  .side-find-more .-carpet .find-more-image {
    background: url("/static/images/banner-domestic-carpet.jpg") no-repeat 50%; }
  .side-find-more .-commercial .find-more-image {
    background: url("/static/images/commercial-carpet.jpg") no-repeat 50%; }

.side-get-quote {
  width: 100%;
  margin: 3em 0;
  background: url("/static/images/get-quote.png") no-repeat;
  background-size: cover;
  padding: 3em 1em; }
  @media all and (min-width: 640px) {
    .side-get-quote {
      float: right;
      width: 48%; } }
  @media all and (min-width: 960px) {
    .side-get-quote {
      float: none;
      width: 100%; } }
  .side-get-quote .get-quote-heading {
    font-size: 1.444em;
    margin: 0;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase; }
  .side-get-quote .get-quote-text {
    text-align: center;
    color: #ffffff; }
  .side-get-quote .get-quote-link {
    color: #2b2b2b;
    background-color: #ff9758;
    font-weight: 700;
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
    text-decoration: none;
    padding: 0.5em 2em;
    -webkit-align-self: center;
            align-self: center;
    font-size: 0.889em;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 155px;
    padding: 0.5em 1em; }
    .side-get-quote .get-quote-link:hover {
      background-color: #ffb78b; }

.side-orange-nav {
  width: 100%;
  margin: 3em 0; }
  @media all and (min-width: 640px) {
    .side-orange-nav {
      width: 48%;
      float: right; } }
  @media all and (min-width: 960px) {
    .side-orange-nav {
      width: 100%;
      float: none; } }
  .side-orange-nav .orange-nav-button {
    background: url("/static/images/side-nav-button.png") no-repeat;
    background-size: cover;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 1.5em 1em;
    border-bottom: solid 1px #ffffff; }
    .side-orange-nav .orange-nav-button:after {
      content: url("/static/images/triangle-right-white.png");
      position: absolute;
      right: 14px; }

.testimonal-container {
  background: url("/static/images/footer-background.png") no-repeat;
  background-size: cover;
  padding: 1em;
  position: relative; }
  .testimonal-container .wrapper > .heading {
    color: #ffffff;
    text-align: center;
    margin-top: 0; }
  @media all and (min-width: 480px) {
    .testimonal-container .wrapper > .prev {
      position: absolute;
      width: 49px;
      height: 49px;
      border-radius: 40px;
      background-image: url(/static/images/chevron-left.png);
      background-repeat: no-repeat;
      background-position: 45% 50%;
      background-color: #fff;
      box-shadow: 0px 5px 12.75px 2.25px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      z-index: 50;
      top: 40%;
      left: 3%; } }
  @media all and (min-width: 1280px) {
    .testimonal-container .wrapper > .prev {
      left: 16.5%; } }
  @media all and (min-width: 480px) {
    .testimonal-container .wrapper > .next {
      position: absolute;
      width: 49px;
      height: 49px;
      border-radius: 40px;
      background-image: url(/static/images/chevron-right.png);
      background-repeat: no-repeat;
      background-position: 45% 50%;
      background-color: #fff;
      box-shadow: 0px 5px 12.75px 2.25px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      z-index: 50;
      top: 40%;
      right: 5%; } }
  @media all and (min-width: 1280px) {
    .testimonal-container .wrapper > .next {
      right: 16.5%; } }
  .testimonal-container .wrapper > .carousel {
    max-width: 90%;
    margin: 1em auto;
    color: #ffffff;
    position: relative; }
    @media all and (min-width: 1280px) {
      .testimonal-container .wrapper > .carousel {
        max-width: 50%;
        margin: 6.5em auto 4em auto; } }
    .testimonal-container .wrapper > .carousel .testimonal {
      font-size: 1.222em;
      font-style: italic;
      text-align: center;
      white-space: normal;
      vertical-align: middle;
      line-height: 2em; }
      .testimonal-container .wrapper > .carousel .testimonal:before {
        content: '\201C';
        display: inline-block; }
      .testimonal-container .wrapper > .carousel .testimonal:after {
        content: '\201D';
        display: inline-block; }
  .testimonal-container .wrapper > .trustist {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 223px;
    padding: 2em 0 0 0; }
  @media all and (min-width: 1120px) {
    .testimonal-container:before {
      color: rgba(255, 255, 255, 0.2);
      content: "\201C";
      display: block;
      height: 0.5em;
      position: absolute;
      font-size: 20em;
      top: 34px;
      left: 0em;
      line-height: 1em; } }
  @media all and (min-width: 1280px) {
    .testimonal-container:before {
      top: 34px;
      left: 0.84em; } }
  @media all and (min-width: 1120px) {
    .testimonal-container:after {
      color: rgba(255, 255, 255, 0.2);
      content: "\201D";
      display: block;
      height: 0.5em;
      position: absolute;
      font-size: 20em;
      bottom: 109px;
      right: 0em;
      line-height: 1em; } }
  @media all and (min-width: 1280px) {
    .testimonal-container:after {
      bottom: 109px;
      right: 0.84em; } }

.accrediation-container > .wrapper > .inner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column; }
  @media all and (min-width: 800px) {
    .accrediation-container > .wrapper > .inner-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
              flex-direction: row; } }
  @media all and (min-width: 960px) {
    .accrediation-container > .wrapper > .inner-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
              align-items: flex-end; } }
  @media all and (min-width: 1900px) {
    .accrediation-container > .wrapper > .inner-wrapper {
      padding: 1em 0; } }
  .accrediation-container > .wrapper > .inner-wrapper > .accrediation {
    max-width: 360px;
    padding: 1em;
    margin: 0 auto; }
    @media all and (min-width: 960px) {
      .accrediation-container > .wrapper > .inner-wrapper > .accrediation {
        max-width: 25%;
        margin: 0; } }

.newsletter-container {
  background: url("/static/images/newsletter-background.png");
  background-size: cover; }
  .newsletter-container > .wrapper > .inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }
    @media all and (min-width: 960px) {
      .newsletter-container > .wrapper > .inner-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
                justify-content: center; } }
    .newsletter-container > .wrapper > .inner-wrapper > .heading {
      font-size: 1.667em;
      color: #2b2b2b;
      font-weight: 700;
      text-align: center;
      padding: 0 0 0.4em 0; }
      @media all and (min-width: 960px) {
        .newsletter-container > .wrapper > .inner-wrapper > .heading {
          text-align: left;
          padding: 0;
          font-size: 2.333em; } }
    .newsletter-container > .wrapper > .inner-wrapper > .text-input {
      font-size: 1em;
      max-width: 360px;
      width: 100%;
      margin: 0 auto;
      border: 0;
      padding: 0.5em; }
      @media all and (min-width: 960px) {
        .newsletter-container > .wrapper > .inner-wrapper > .text-input {
          max-width: 775px;
          margin: 0 1em 0 2.5em;
          font-size: 1.667em; } }
    .newsletter-container > .wrapper > .inner-wrapper > .subscribe {
      background-color: #00afef;
      max-width: 160px;
      width: 100%;
      color: #ffffff;
      border: 0;
      font-weight: 700;
      font-size: 1em;
      margin: 1em auto;
      padding: 0.5em; }
      @media all and (min-width: 960px) {
        .newsletter-container > .wrapper > .inner-wrapper > .subscribe {
          margin: 0;
          padding: 0; } }
      .newsletter-container > .wrapper > .inner-wrapper > .subscribe:hover {
        background-color: #23c4ff; }

.footer {
  background: url("/static/images/footer-background.png");
  background-size: cover;
  color: #ffffff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
  text-align: center; }
  @media all and (min-width: 800px) {
    .footer {
      text-align: left; } }
  .footer .heading {
    color: #ffffff;
    margin: 0.5em 0; }
  .footer a {
    color: #ffffff;
    text-decoration: none; }
    .footer a:hover {
      color: #e6e6e6; }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .leeds-wrapper {
      width: 48%;
      margin: 0 auto 0 0;
      padding: 3em 0 0 0; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .leeds-wrapper > .heading {
      width: 100%; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .leeds-wrapper > .content {
      width: 100%;
      margin: 0 0 1em 0; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .leeds-wrapper > .address {
      width: 43%;
      display: inline-block; } }
  @media all and (min-width: 1900px) {
    .footer > .wrapper > .inner-wrapper > .leeds-wrapper > .address > .heading {
      margin: 0.2em 0; } }
  @media all and (min-width: 1900px) {
    .footer > .wrapper > .inner-wrapper > .leeds-wrapper > .address > .content {
      margin: 0; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .leeds-wrapper > .contact {
      width: 50%;
      display: block;
      vertical-align: top; } }
  @media all and (min-width: 1280px) {
    .footer > .wrapper > .inner-wrapper > .leeds-wrapper > .contact {
      display: inline-block; } }
  @media all and (min-width: 1900px) {
    .footer > .wrapper > .inner-wrapper > .leeds-wrapper > .contact > .heading {
      margin: 0.2em 0; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .york-wrapper {
      width: 48%;
      margin: 0 0 0 auto;
      padding: 3em 0 0 0;
      position: relative; }
      .footer > .wrapper > .inner-wrapper > .york-wrapper:before {
        content: '';
        display: inline-block;
        height: 135px;
        border: 1px solid #ff9758;
        position: absolute;
        top: 34%;
        left: -28px; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .york-wrapper > .heading {
      width: 100%; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .york-wrapper > .content {
      width: 100%;
      margin: 0 0 1em 0; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .york-wrapper > .contact {
      width: 48%;
      display: block;
      vertical-align: top; } }
  @media all and (min-width: 1280px) {
    .footer > .wrapper > .inner-wrapper > .york-wrapper > .contact {
      display: inline-block; } }
  @media all and (min-width: 1900px) {
    .footer > .wrapper > .inner-wrapper > .york-wrapper > .contact > .heading {
      margin: 0.2em 0; } }
  @media all and (min-width: 800px) {
    .footer > .wrapper > .inner-wrapper > .york-wrapper > .website {
      width: 48%;
      display: inline-block; } }
  @media all and (min-width: 1900px) {
    .footer > .wrapper > .inner-wrapper > .york-wrapper > .website > .heading {
      margin: 0.2em 0; } }
  .footer > .wrapper > .inner-wrapper > .social-wrapper {
    margin: 1em 0; }
    @media all and (min-width: 800px) {
      .footer > .wrapper > .inner-wrapper > .social-wrapper {
        margin: 1em auto; } }
    .footer > .wrapper > .inner-wrapper > .social-wrapper > .link svg {
      width: 60px;
      height: 55px; }
      .footer > .wrapper > .inner-wrapper > .social-wrapper > .link svg path {
        fill: #ffffff; }
  .footer > .wrapper > .inner-wrapper > .bottom-wrapper {
    font-size: 0.778em;
    width: 100%;
    margin: 2em 0 0 0; }
    @media all and (min-width: 800px) {
      .footer > .wrapper > .inner-wrapper > .bottom-wrapper > .content {
        width: 48%;
        display: inline-block;
        vertical-align: top;
        padding-left: 2em;
        margin: 2em 0 0 0; } }
    @media all and (min-width: 800px) {
      .footer > .wrapper > .inner-wrapper > .bottom-wrapper > .trustist {
        width: 48%;
        display: inline-block; } }
    @media all and (min-width: 1280px) {
      .footer > .wrapper > .inner-wrapper > .bottom-wrapper > .trustist {
        margin: 0 0 0 auto;
        float: right;
        width: 17.2%; } }

@media all and (min-width: 1900px) {
  .inner-main-content {
    padding-bottom: 1em; } }

.inner-main-content > .wrapper > .inner-wrapper > .inner-main h2 {
  font-size: 0.889em;
  display: inline-block; }

@media all and (min-width: 800px) {
  .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field-container {
    max-width: 47%;
    float: left; } }

.inner-main-content > .wrapper > .inner-wrapper > .inner-main .field-container .field {
  width: 100%;
  max-width: 100%;
  margin: 1em 0; }
  @media all and (min-width: 800px) {
    .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field-container .field {
      margin: 0 0 1.3em 0; }
      .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field-container .field:first-child {
        margin: 2em 0 1em 0; } }
  .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field-container .field > input {
    border: 2px solid #00afef;
    font-size: 1em;
    color: #01afed;
    width: 100%;
    padding: 0.7em; }
    .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field-container .field > input:placeholder {
      color: #01afed; }

.inner-main-content > .wrapper > .inner-wrapper > .inner-main .check {
  margin: 0.5em 0 0.5em 0; }
  .inner-main-content > .wrapper > .inner-wrapper > .inner-main .check:first-child {
    margin: 0 0 0.5em 0; }
  .inner-main-content > .wrapper > .inner-wrapper > .inner-main .check:last-child {
    margin: 0.5em 0 1em 0; }
  @media all and (min-width: 800px) {
    .inner-main-content > .wrapper > .inner-wrapper > .inner-main .check {
      margin: 0.5em 0;
      display: block; } }

.inner-main-content > .wrapper > .inner-wrapper > .inner-main .field {
  width: 100%; }
  @media all and (min-width: 800px) {
    .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field {
      max-width: 47%;
      width: 100%;
      margin: 2em 0 1em 0;
      display: inline-block;
      float: right; } }
  .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field textarea {
    border: 2px solid #00afef;
    color: #01afed;
    width: 100%;
    padding: 0.7em; }
    .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field textarea:placeholder {
      color: #01afed; }
  .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field button {
    color: #2b2b2b;
    background-color: #ff9758;
    font-weight: 700;
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
    text-decoration: none;
    padding: 0.5em 2em;
    -webkit-align-self: center;
            align-self: center;
    font-size: 0.889em;
    text-align: center;
    display: block;
    padding: 1em;
    margin: 1.5em 0 0 auto;
    max-width: 155px;
    width: 100%;
    border: 0; }
    .inner-main-content > .wrapper > .inner-wrapper > .inner-main .field button:hover {
      background-color: #ffb78b; }

.main-content-container .home-banner .wrapper {
  background-image: url(/static/images/banner-image.png);
  background-size: cover;
  background-position: center 35%; }
  @media all and (min-width: 1900px) {
    .main-content-container .home-banner .wrapper {
      padding: 0.75em 2em; } }
  @media all and (min-width: 960px) {
    .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper {
      width: 50%;
      float: left;
      margin: 6% 0 0 0; } }
  @media all and (min-width: 1440px) {
    .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper {
      margin: 9% 0 0 0; } }
  @media all and (min-width: 1900px) {
    .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper {
      width: 48%; } }
  .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper h1 {
    color: #ffffff;
    margin: 0 0 0.5em 0;
    text-align: center; }
    @media all and (min-width: 480px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper h1 {
        text-align: left; } }
  .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper h2 {
    color: #ffffff;
    font-weight: 400;
    text-align: center; }
    @media all and (min-width: 480px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper h2 {
        text-align: left; } }
    @media all and (min-width: 1440px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper h2 {
        font-size: 1.667em;
        line-height: 1.47; } }
  .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .find-out-button {
    color: #2b2b2b;
    background-color: #ff9758;
    font-weight: 700;
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
    text-decoration: none;
    padding: 0.5em 2em;
    -webkit-align-self: center;
            align-self: center;
    box-shadow: -3px 3px 8px 0px rgba(59, 102, 173, 0.14);
    margin: 0.5em 0;
    font-size: 0.889em;
    text-align: center;
    display: block;
    width: 100%; }
    .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .find-out-button:hover {
      background-color: #ffb78b; }
    @media all and (min-width: 480px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .find-out-button {
        width: 46%;
        display: inline-block; } }
    @media all and (min-width: 960px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .find-out-button {
        padding: 1em 1em; } }
    @media all and (min-width: 1440px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .find-out-button {
        width: 40%;
        float: left;
        margin: 0.9em 1.6em 0.5em 0;
        max-width: 178px; } }
    @media all and (min-width: 1900px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .find-out-button {
        padding: 1.5em 1em; } }
  .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .book-app-button {
    color: #2b2b2b;
    background-color: #ff9758;
    font-weight: 700;
    box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
    text-decoration: none;
    padding: 0.5em 2em;
    -webkit-align-self: center;
            align-self: center;
    box-shadow: -3px 3px 8px 0px rgba(59, 102, 173, 0.14);
    margin: 0.5em 0;
    font-size: 0.889em;
    text-align: center;
    display: block;
    width: 100%; }
    .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .book-app-button:hover {
      background-color: #ffb78b; }
    @media all and (min-width: 480px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .book-app-button {
        width: 46%;
        display: inline-block;
        float: right; } }
    @media all and (min-width: 960px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .book-app-button {
        padding: 1em 1em; } }
    @media all and (min-width: 1440px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .book-app-button {
        width: 40%;
        float: left;
        margin: 0.9em 1em 0.5em 0;
        max-width: 215px; } }
    @media all and (min-width: 1900px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .left-wrapper .book-app-button {
        padding: 1.5em 1em; } }
  @media all and (min-width: 960px) {
    .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper {
      width: 50%;
      float: right;
      position: relative; } }
  @media all and (min-width: 960px) {
    .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .circle-banner-image {
      background-image: url("/static/images/main-image.png");
      border-radius: 999px;
      width: 390px;
      height: 390px;
      background-position: center;
      margin: 0 1em 0 auto; } }
  @media all and (min-width: 1440px) {
    .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .circle-banner-image {
      width: 530px;
      height: 530px; } }
  @media all and (min-width: 1900px) {
    .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .circle-banner-image {
      width: 630px;
      height: 630px; } }
  .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .inner-accreditations {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%; }
    @media all and (min-width: 960px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .inner-accreditations {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
                align-items: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
                flex-direction: column;
        position: absolute;
        top: 10%; } }
    @media all and (min-width: 1440px) {
      .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .inner-accreditations {
        top: 20%;
        right: -45px; } }
    .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .inner-accreditations .accrediation {
      background: #fff url(/static/images/bicsc.png) center no-repeat;
      background-size: 85%;
      background-color: #ffffff;
      border-radius: 999px;
      width: 93px;
      height: 93px;
      border: 1px solid #ff9758;
      margin-right: 1em;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
              flex: 0 0 auto; }
      @media all and (min-width: 960px) {
        .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .inner-accreditations .accrediation {
          margin: 0 0 1em 0; } }
      @media all and (min-width: 1900px) {
        .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .inner-accreditations .accrediation {
          width: 100px;
          height: 100px;
          margin: 0 0 2em 0; } }
      .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .inner-accreditations .accrediation:last-child {
        margin-right: 0.5em; }
        @media all and (min-width: 960px) {
          .main-content-container .home-banner .wrapper .inner-wrapper .right-wrapper .inner-accreditations .accrediation:last-child {
            margin-right: 0em; } }
  .main-content-container .home-banner .wrapper .inner-wrapper:after {
    content: '';
    display: block;
    clear: both; }

.home-services {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }
  @media all and (min-width: 1900px) {
    .home-services {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
              justify-content: space-between; } }
  .home-services > .service {
    margin: 2em 1.5em;
    max-width: 300px; }
    @media all and (min-width: 1900px) {
      .home-services > .service {
        margin: 0 0.5em; } }
    .home-services > .service > .heading {
      color: #ff6200;
      font-weight: 800;
      position: relative;
      padding: 0 0 0 0.5em; }
      @media all and (min-width: 640px) {
        .home-services > .service > .heading {
          font-size: 1.444em;
          padding: 0.5rem 0 0.5rem 0.5rem; } }
      .home-services > .service > .heading:before {
        content: '';
        display: inline-block;
        height: 100%;
        border: 1px solid #ff6200;
        position: absolute;
        top: 0;
        left: 0; }
    .home-services > .service > .image {
      background-image: url("/static/images/banner-domestic-carpet.jpg");
      box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.55);
      width: 96%;
      height: auto;
      padding: 5.4em; }
    .home-services > .service > .description {
      position: relative;
      padding: 0 0 1rem 0.5rem;
      line-height: 1.3; }
      .home-services > .service > .description:before {
        content: '';
        display: inline-block;
        height: 100%;
        border: 1px solid #ff9758;
        position: absolute;
        top: 0;
        left: 0; }
    .home-services > .service > .button {
      color: #2b2b2b;
      background-color: #ff9758;
      font-weight: 700;
      box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
      text-decoration: none;
      padding: 0.5em 2em;
      -webkit-align-self: center;
              align-self: center;
      display: block;
      text-align: center;
      width: 50%;
      font-size: 0.889em;
      padding: 1em 0; }
      .home-services > .service > .button:hover {
        background-color: #ffb78b; }

@media all and (min-width: 1900px) {
  .home-text-image-container {
    margin: 5em 0 2em 0; } }

.home-text-image-container > .wrapper-text-left {
  margin: 2em 0 0 0; }
  .home-text-image-container > .wrapper-text-left > .left-column {
    width: 100%; }
    @media all and (min-width: 960px) {
      .home-text-image-container > .wrapper-text-left > .left-column {
        width: 48%;
        float: left; } }
    .home-text-image-container > .wrapper-text-left > .left-column > .heading {
      margin: 0; }
    .home-text-image-container > .wrapper-text-left > .left-column > .find-out-button {
      color: #2b2b2b;
      background-color: #ff9758;
      font-weight: 700;
      box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
      text-decoration: none;
      padding: 0.5em 2em;
      -webkit-align-self: center;
              align-self: center;
      box-shadow: -3px 3px 8px 0px rgba(59, 102, 173, 0.14);
      margin: 0.5em 0;
      font-size: 0.889em;
      text-align: center;
      display: block;
      width: 100%; }
      .home-text-image-container > .wrapper-text-left > .left-column > .find-out-button:hover {
        background-color: #ffb78b; }
      @media all and (min-width: 480px) {
        .home-text-image-container > .wrapper-text-left > .left-column > .find-out-button {
          width: 46%;
          display: inline-block; } }
      @media all and (min-width: 960px) {
        .home-text-image-container > .wrapper-text-left > .left-column > .find-out-button {
          padding: 1em 1em; } }
      @media all and (min-width: 1440px) {
        .home-text-image-container > .wrapper-text-left > .left-column > .find-out-button {
          width: 40%;
          float: left;
          margin: 0.9em 1.6em 0.5em 0;
          max-width: 178px; } }
      @media all and (min-width: 1900px) {
        .home-text-image-container > .wrapper-text-left > .left-column > .find-out-button {
          padding: 1.5em 1em; } }
    .home-text-image-container > .wrapper-text-left > .left-column > .book-app-button {
      color: #2b2b2b;
      background-color: #ff9758;
      font-weight: 700;
      box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
      text-decoration: none;
      padding: 0.5em 2em;
      -webkit-align-self: center;
              align-self: center;
      box-shadow: -3px 3px 8px 0px rgba(59, 102, 173, 0.14);
      margin: 0.5em 0;
      font-size: 0.889em;
      text-align: center;
      display: block;
      width: 100%; }
      .home-text-image-container > .wrapper-text-left > .left-column > .book-app-button:hover {
        background-color: #ffb78b; }
      @media all and (min-width: 480px) {
        .home-text-image-container > .wrapper-text-left > .left-column > .book-app-button {
          width: 46%;
          display: inline-block;
          float: right; } }
      @media all and (min-width: 960px) {
        .home-text-image-container > .wrapper-text-left > .left-column > .book-app-button {
          padding: 1em 1em; } }
      @media all and (min-width: 1440px) {
        .home-text-image-container > .wrapper-text-left > .left-column > .book-app-button {
          width: 40%;
          float: left;
          margin: 0.9em 1em 0.5em 0;
          max-width: 215px; } }
      @media all and (min-width: 1900px) {
        .home-text-image-container > .wrapper-text-left > .left-column > .book-app-button {
          padding: 1.5em 1em; } }
  .home-text-image-container > .wrapper-text-left > .right-column {
    width: 100%; }
    @media all and (min-width: 960px) {
      .home-text-image-container > .wrapper-text-left > .right-column {
        width: 46%;
        float: right; } }
    @media all and (min-width: 960px) {
      .home-text-image-container > .wrapper-text-left > .right-column > .gallery-section {
        margin: 0; } }
  .home-text-image-container > .wrapper-text-left .-bold {
    font-weight: 700; }
  .home-text-image-container > .wrapper-text-left:after {
    content: '';
    display: block;
    clear: both; }

.home-text-image-container > .wrapper-text-right {
  width: 100%;
  margin: 3em 0 0 0; }
  .home-text-image-container > .wrapper-text-right > .left-column {
    width: 100%; }
    @media all and (min-width: 960px) {
      .home-text-image-container > .wrapper-text-right > .left-column {
        width: 48%;
        float: left; } }
  .home-text-image-container > .wrapper-text-right > .right-column {
    width: 100%; }
    @media all and (min-width: 960px) {
      .home-text-image-container > .wrapper-text-right > .right-column {
        width: 48%;
        float: right; } }
    .home-text-image-container > .wrapper-text-right > .right-column > .heading {
      margin: 0.5em 0 0 0; }
  .home-text-image-container > .wrapper-text-right:after {
    content: '';
    display: block;
    clear: both; }

.inner-main-content .wrapper .inner-wrapper .news-landing-main {
  max-width: 100%;
  width: 100%;
  margin: 0 0 3em 0; }
  @media all and (min-width: 960px) {
    .inner-main-content .wrapper .inner-wrapper .news-landing-main {
      max-width: 63%; } }
  .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post {
    border-bottom: 1px solid #ff9758;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    margin: 3rem 0 0 0; }
    @media all and (min-width: 800px) {
      .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
                flex-direction: row; } }
    .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .featured-image {
      max-height: 257px; }
    .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column; }
      @media all and (min-width: 800px) {
        .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text {
          margin: 0 0 0 1em; } }
      .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text .heading {
        font-size: 1.444em;
        margin: 0.5em 0 0 0; }
        @media all and (min-width: 800px) {
          .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text .heading {
            font-size: 1.222em;
            margin: 0; } }
        @media all and (min-width: 1900px) {
          .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text .heading {
            font-size: 1.444em; } }
      .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text .date {
        font-size: 1em;
        font-weight: 400;
        color: #ff9758;
        margin: 1em 0 0 0; }
        @media all and (min-width: 800px) {
          .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text .date {
            margin: 0.7em 0 0 0; } }
      .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text .orange-button {
        color: #2b2b2b;
        background-color: #ff9758;
        font-weight: 700;
        box-shadow: -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
        text-decoration: none;
        padding: 0.5em 2em;
        -webkit-align-self: center;
                align-self: center;
        margin: 0 0 3rem 0;
        font-size: 0.889em;
        padding: 0.5em 1em; }
        .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text .orange-button:hover {
          background-color: #ffb78b; }
        @media all and (min-width: 800px) {
          .inner-main-content .wrapper .inner-wrapper .news-landing-main .news-post .news-post-text .orange-button {
            -webkit-align-self: flex-start;
                    align-self: flex-start; } }

.accordion-section {
  margin: 3em 0 1.5em 0; }
  .accordion-section .accordion .accordion-heading {
    background-color: #00afef;
    position: relative;
    font-size: 0.889em;
    color: #ffffff;
    text-shadow: 0px 0px 2.88px rgba(0, 0, 0, 0.35);
    padding: 1em 2em 1em 1em; }
    .accordion-section .accordion .accordion-heading:hover {
      cursor: pointer;
      background-color: #23c4ff; }
    .accordion-section .accordion .accordion-heading:after {
      content: url("/static/images/triangle-down.png");
      display: inline-block;
      position: absolute;
      right: 1em;
      width: 7px;
      height: 7px; }
  .accordion-section .accordion .accoridion-content {
    display: none;
    margin: 1em 0 1em 1em; }
  .accordion-section .-active .accordion-heading {
    background-color: #ff9758;
    color: #2b2b2b;
    text-shadow: none; }
    .accordion-section .-active .accordion-heading:hover {
      cursor: pointer;
      background-color: #ffb78b; }
    .accordion-section .-active .accordion-heading:after {
      content: url("/static/images/triangle-up.png"); }
  .accordion-section .-active .accoridion-content {
    display: inline-block; }

.gallery-section {
  position: relative;
  margin: 3em 0 4em 0; }
  .gallery-section .gallery-holder img {
    width: 100%; }
  .gallery-section .gallery-pager {
    display: inline-block;
    position: absolute;
    right: 0; }
    .gallery-section .gallery-pager .pager-item {
      width: 10px;
      height: 10px;
      background-color: #ff9758;
      display: inline-block;
      border-radius: 99px;
      margin: 0.25em 0 0 0.25em; }
      .gallery-section .gallery-pager .pager-item:last-child {
        margin: 0 0 0 0.25em; }
      .gallery-section .gallery-pager .pager-item.-active {
        background-color: #00afef; }
      .gallery-section .gallery-pager .pager-item:hover {
        background-color: #00afef; }

.figure,
.wp-caption {
  margin: 1rem 0;
  text-align: center; }
  .figure img,
  .wp-caption img {
    display: block;
    margin: 0 auto; }
  .figure blockquote + .caption,
  .wp-caption blockquote + .caption {
    text-align: right; }
  .figure > .caption,
  .figure > .wp-caption-text,
  .wp-caption > .caption,
  .wp-caption > .wp-caption-text {
    font-size: 0.875em;
    margin: 0.5em 0;
    text-align: center; }

.alignnone {
  margin: 0; }

.aligncenter,
.aligncenter.wp-caption {
  display: block;
  margin: 1em auto; }

.alignright,
.alignright.wp-caption {
  float: right;
  margin: 1em 0 1em 1em; }

.alignleft,
.alignleft.wp-caption {
  float: left;
  margin: 1em 1em 1em 0; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*# sourceMappingURL=style.css.map */
