.accrediation-container {

    > .wrapper {

        > .inner-wrapper {
            display: flex;
            flex-direction: column;

            @include media-query(milli) {
                flex-direction: row;
            }

            @include media-query(normal) {
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
            }

            @include media-query(full) {
                padding: 1em 0;
            }

            > .accrediation {
                max-width: 360px;
                padding: 1em;
                margin: 0 auto;

                @include media-query(normal) {
                    max-width: 25%;
                    margin: 0;
                }
                > .acc-image {

                }
            }
        }
    }
}
