.accordion-section {
    margin: 3em 0 1.5em 0;
    .accordion {
        .accordion-heading {
            background-color: $light_blue;
            position: relative;
            font-size: $font_small;
            color: $white;
            text-shadow: 0px 0px 2.88px rgba(0, 0, 0, 0.35);
            padding: 1em 2em 1em 1em;

            &:hover {
                cursor: pointer;
                background-color: lighten($light_blue, 10%);
            }

            &:after {
                content: url("/static/images/triangle-down.png");
                display: inline-block;
                position: absolute;
                right: 1em;
                width: 7px;
                height: 7px;
            }
        }
        .accoridion-content {
            display: none;
            margin: 1em 0 1em 1em;
        }
    }
    .-active {
            .accordion-heading {
                background-color: $light_orange;
                color: $font_black;
                text-shadow: none;

                &:hover {
                    cursor: pointer;
                    background-color: lighten($light_orange, 10%);
                }

                &:after {
                    content: url("/static/images/triangle-up.png");
                }
            }
            .accoridion-content {
                display: inline-block;
            }
    }
}
