@mixin button-orange() {
    color: $font_black;
    background-color: $light_orange;
    font-weight: $bold_weight;
    box-shadow:  -3px 3px 5px 0px rgba(0, 0, 0, 0.14);
    text-decoration: none;
    padding: 0.5em 2em;
    align-self: center;

    &:hover {
        background-color: lighten($light-orange, 10%);
    }
}

@mixin round-button-left() {
    position: absolute;
    width: 49px;
    height: 49px;
    border-radius: 40px;
    background-image: url(/static/images/chevron-left.png);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-color: #fff;
    box-shadow: 0px 5px 12.75px 2.25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 50;
}

@mixin round-button-right() {
    position: absolute;
    width: 49px;
    height: 49px;
    border-radius: 40px;
    background-image: url(/static/images/chevron-right.png);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-color: #fff;
    box-shadow: 0px 5px 12.75px 2.25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 50;
}
