//
// Palette
//

$text_color: #757575;
$link_color: #2b2b2b;

//Font Colours
$font_blue: #01afed;
$font_grey: #757575;
$font_black: #2b2b2b;
$font_white: #ffffff;
$font_navy: #3b66ad;

//Block Colours
$light_orange: #ff9758;
$dark_orange: #ff6200;
$light_blue: #00afef;
$white: #ffffff;
