.inner-main-content {

    @include media-query(full) {
        padding-bottom: 1em;
    }
    > .wrapper {
        > .inner-wrapper {
            > .inner-main {
                 h2 {
                    font-size: $font_small;
                    display: inline-block;
                }
                .field-container {

                    @include media-query(milli) {
                        max-width: 47%;
                        float: left;
                    }
                    .field {
                        width: 100%;
                        max-width: 100%;
                        margin: 1em 0;

                        @include media-query(milli) {
                            margin: 0 0 1.3em 0;

                            &:first-child {
                                margin: 2em 0 1em 0;
                            }
                        }
                        > input {
                            border: 2px solid $light_blue;
                            font-size: $font_normal;
                            color: $font_blue;
                            width: 100%;
                            padding: 0.7em;

                            &:placeholder {
                                color: $font_blue;
                            }
                        }
                    }
                }
                .check {
                    margin: 0.5em 0 0.5em 0;

                    &:first-child {
                        margin: 0 0 0.5em 0;
                    }

                    &:last-child {
                        margin: 0.5em 0 1em 0;
                    }
                    @include media-query(milli) {
                        margin: 0.5em 0;
                        display: block;
                    }
                }
                .field {
                    width: 100%;

                    @include media-query(milli) {
                        max-width: 47%;
                        width: 100%;
                        margin: 2em 0 1em 0;
                        display: inline-block;
                        float: right;
                    }

                    textarea {
                        border: 2px solid $light_blue;
                        color: $font_blue;
                        width: 100%;
                        padding: 0.7em;

                            &:placeholder {
                                color: $font_blue;
                            }
                    }

                    button {
                        @include button-orange();
                        font-size: $font_small;
                        text-align: center;
                        display: block;
                        padding: 1em;
                        margin: 1.5em 0 0 auto;
                        max-width: 155px;
                        width: 100%;
                        border: 0;
                    }
                }
            }
        }
    }
}
