//
// Fonts
//
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

$body_font: 'Montserrat', sans-serif;
$heading_font: $body_font;

$normal_weight: 400;
$bold_weight: 700;
$extra_bold_weight: 800;

$font_v_small: 0.778em; // 14px
$font_small: 0.889em; // 16px
$font_normal: 1em; // 18px
$font_nor-med: 1.222em; // 22px
$font_medium: 1.444em; // 26px
$font_large: 1.667em; // 30px
$font_x_large: 2.333em; // 42px;
