.footer {
    background: url("/static/images/footer-background.png");
    background-size: cover;
    color: $font_white;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    text-align: center;

    @include media-query(milli) {
        text-align: left;
    }
     .heading {
        color: $font_white;
        margin: 0.5em 0;
    }
    a {
        color: $font_white;
        text-decoration: none;

        &:hover {
            color: darken($font_white, 10%);
        }
    }

    > .wrapper {
        > .inner-wrapper {
            @include media-query(milli) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            > .leeds-wrapper {
                @include media-query(milli) {
                    width: 48%;
                    margin: 0 auto 0 0;
                    padding: 3em 0 0 0;
                }
                > .heading {
                    @include media-query(milli) {
                        width: 100%;
                    }
                    > .heading-span {

                    }
                }
                > .content {
                    @include media-query(milli) {
                        width: 100%;
                        margin: 0 0 1em 0;
                    }
                }
                > .address {
                    @include media-query(milli) {
                        width: 43%;
                        display: inline-block;
                    }
                    > .heading {
                        @include media-query(full) {
                            margin: 0.2em 0;
                        }
                    }
                    > .content {
                        @include media-query(full) {
                            margin: 0;
                        }
                    }
                }
                > .contact {
                    @include media-query(milli) {
                        width: 50%;
                        display: block;
                        vertical-align: top;
                    }
                    @include media-query(mega) {
                        display: inline-block;
                    }
                    > .heading {
                        @include media-query(full) {
                            margin: 0.2em 0;
                        }
                    }
                    > .link {

                    }
                }
            }
            > .york-wrapper {
                @include media-query(milli) {
                    width: 48%;
                    margin: 0 0 0 auto;
                    padding: 3em 0 0 0;
                    position: relative;

                    &:before {
                        content: '';
                        display: inline-block;
                        height: 135px;
                        border: 1px solid $light_orange;
                        position: absolute;
                        top: 34%;
                        left: -28px;
                    }
                }

                > .heading {
                    @include media-query(milli) {
                        width: 100%;
                    }
                    > .heading-span {

                    }
                }
                > .content {
                    @include media-query(milli) {
                        width: 100%;
                        margin: 0 0 1em 0;
                    }
                }
                > .contact {
                    @include media-query(milli) {
                        width: 48%;
                        display: block;
                        vertical-align: top;
                    }
                    @include media-query(mega) {
                        display: inline-block;
                    }
                    > .heading {
                        @include media-query(full) {
                            margin: 0.2em 0;
                        }
                    }
                    > .link {

                    }
                }
                > .website {
                    @include media-query(milli) {
                        width: 48%;
                        display: inline-block;
                    }
                    > .heading {
                        @include media-query(full) {
                            margin: 0.2em 0;
                        }
                    }
                    > .link {

                    }
                }
            }
            > .social-wrapper {
                margin: 1em 0;

                @include media-query(milli) {
                    margin: 1em auto;
                }

                > .link {
                    svg {
                        width: 60px;
                        height: 55px;

                        path {
                            fill: $white;
                        }
                    }
                }
            }
            > .bottom-wrapper {
                font-size: $font_v_small;
                width: 100%;
                margin: 2em 0 0 0;
                > .content {
                    @include media-query(milli) {
                        width: 48%;
                        display: inline-block;
                        vertical-align: top;
                        padding-left: 2em;
                        margin: 2em 0 0 0;
                    }
                    > .link {

                    }
                }
                > .trustist {
                    @include media-query(milli) {
                        width: 48%;
                        display: inline-block;
                    }
                    @include media-query(mega) {
                        margin: 0 0 0 auto;
                        float: right;
                        width: 17.2%;
                    }
                }
            }
        }
    }
}
