.gallery-section {
    position: relative;
    margin: 3em 0 4em 0;

    .gallery-holder {
        img {
            width: 100%;
        }
    }
    .gallery-pager {
        display: inline-block;
        position: absolute;
        right: 0;

        .pager-item {
            width: 10px;
            height: 10px;
            background-color: $light_orange;
            display: inline-block;
            border-radius: 99px;
            margin: 0.25em 0 0 0.25em;

            &:last-child {
                margin: 0 0 0 0.25em;
            }

            &.-active {
                background-color: $light_blue;
            }
            &:hover {
                background-color: $light_blue;
            }
        }
    }
}
