.header {
    width: 100%;
    position: relative;
    z-index: 600;
    background-color: $white;

    .wrapper {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @include media-query(micro) {
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        @include media-query(milli) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @include media-query(giga) {
            justify-content: space-between;
        }
        @include media-query(full) {
            padding: 1em 0.5em 0 0.5em;
        }
        .title {
            margin: 0;
            padding-right: 0.5em;
            max-width: 60%;
            order: 1;

            @include media-query(micro) {
                order: 0;
            }
            @include media-query(milli) {
                order: 1;
            }
            @include media-query(giga) {
                order: 0;
            }
            @include media-query(full) {
                padding: 0 0.8em 0 0.5em;
            }
            a {
                img {

                }
            }
        }
        .phone-tag-wrapper {
            padding: 0.5em 0;
            order: 2;

            @include media-query(pico) {
                padding: 0.5em 0.5em 0 0.5em;
            }
            @include media-query(nano) {
                width: 50%;
            }
            @include media-query(micro) {
                order: 0;
                width: auto;
                padding: 0 0.5em 0 0.5em;
            }
            @include media-query(milli) {
                order: 3;
                padding: 0 8em 0 0;
            }
            @include media-query(mega) {
                padding: 0 0 1.5em 0;
                order: 2;
            }
            @include media-query(giga) {
                order: 0;
                margin: 0 auto 0 0;
                padding: 0 0 1.5em 0;
            }
            .header-phone {
                color: $font_blue;
                font-weight: $bold_weight;
                font-size: $font_nor-med;
                text-decoration: none;
                @include media-query(giga) {
                    font-size: $font_large;
                }
            }
            .header-tag-line {
                display: none;

                @include media-query(milli) {
                    display: block;
                }
                margin: 0;
            }
        }
        .header-get-quote {
            color: $font_black;
            background-color: $light_orange;
            font-weight: $bold_weight;
            box-shadow: 4px 4px 8px rgba(102, 138, 197, 0.1);
            text-decoration: none;
            padding: 0.5em 2em;
            align-self: center;
            order: 3;

            @include media-query(pico) {
                margin: 0.5em 0 0 0;
            }

            @include media-query(nano) {
                width: 50%;
                text-align: center;
            }

            @include media-query(micro) {
                order: 0;
                width: auto;
                margin: 0 0.5em 0 0;
            }

            @include media-query(milli) {
                order: 3;
            }
            @include media-query(giga) {
                max-width: 221px;
                width: 100%;
                font-size: $font_nor-med;
                padding: 0.3em 0;
            }
            @include media-query(full) {
                margin: 0 0.75em 0.8em 0;
            }

            &:hover {
                background-color: lighten($light-orange, 10%);
            }
        }
    }
}
@include media-query(giga) {
    .-sticky {
        position: fixed;
        top: 0;
        max-height: 110px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

        .title {
            @include media-query(giga) {
            width: 100%;
            max-width: 10% !important;
            margin-right: 3em !important;
            }
        }

        + .main-content-container {
            padding-top: 163px;
        }
    }
}
