.home-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @include media-query(full) {
        justify-content: space-between;
    }

    > .service {
        margin: 2em 1.5em;
        max-width: 300px;

        @include media-query(full) {
            margin: 0 0.5em;
        }

        > .heading {
            color: $dark_orange;
            font-weight: $extra_bold_weight;
            position: relative;
            padding: 0 0 0 0.5em;

            @include media-query(micro) {
                font-size: $font_medium;
                padding: 0.5rem 0 0.5rem 0.5rem;
            }

            &:before {
                content: '';
                display: inline-block;
                height: 100%;
                border: 1px solid $dark_orange;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        > .image {
            background-image: url("/static/images/banner-domestic-carpet.jpg");
            box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.55);
            width: 96%;
            height: auto;
            padding: 5.4em;
        }
        > .description {
            position: relative;
            padding: 0 0 1rem 0.5rem;
            line-height: 1.3;

            &:before {
                content: '';
                display: inline-block;
                height: 100%;
                border: 1px solid $light_orange;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        > .button {
        @include button-orange();
        display: block;
        text-align: center;
        width: 50%;
        font-size: $font_small;
        padding: 1em 0;
        }
    }
}
