.main-content-container {
    .home-banner {
        .wrapper {
            background-image: url(/static/images/banner-image.png);
            background-size: cover;
            background-position: center 35%;

            @include media-query(full) {
                padding: 0.75em 2em;
            }
            .inner-wrapper {
                .left-wrapper {

                    @include media-query(normal) {
                        width: 50%;
                        float: left;
                        margin: 6% 0 0 0;
                    }

                    @include media-query(giga) {
                        margin: 9% 0 0 0;
                    }
                    @include media-query(full) {
                        width: 48%;
                    }

                    h1 {
                        color: $font_white;
                        margin: 0 0 0.5em 0;
                        text-align: center;

                        @include media-query(nano) {
                            text-align: left;
                        }

                    }
                    h2 {
                        color: $font_white;
                        font-weight: $normal_weight;
                        text-align: center;

                        @include media-query(nano) {
                            text-align: left;
                        }
                        @include media-query(giga) {
                            font-size: $font_large;
                            line-height: 1.47;
                        }
                    }
                    .find-out-button {
                        @include button-orange();
                        box-shadow: -3px 3px 8px 0px rgba(59, 102, 173, 0.14);
                        margin: 0.5em 0;
                        font-size: $font_small;
                        text-align: center;
                        display: block;
                        width: 100%;

                        @include media-query(nano) {
                            width: 46%;
                            display: inline-block;
                        }
                        @include media-query(normal) {
                            padding: 1em 1em;
                        }
                        @include media-query(giga) {
                            width: 40%;
                            float: left;
                            margin: 0.9em 1.6em 0.5em 0;
                            max-width: 178px;
                        }
                        @include media-query(full) {
                            padding: 1.5em 1em;
                        }
                    }
                    .book-app-button {
                        @include button-orange();
                        box-shadow: -3px 3px 8px 0px rgba(59, 102, 173, 0.14);
                        margin: 0.5em 0;
                        font-size: $font_small;
                        text-align: center;
                        display: block;
                        width: 100%;

                        @include media-query(nano) {
                            width: 46%;
                            display: inline-block;
                            float: right;
                        }
                        @include media-query(normal) {
                            padding: 1em 1em;
                        }
                        @include media-query(giga) {
                            width: 40%;
                            float: left;
                            margin: 0.9em 1em 0.5em 0;
                            max-width: 215px;
                        }
                        @include media-query(full) {
                            padding: 1.5em 1em;
                        }
                    }
                }
                .right-wrapper {

                    @include media-query(normal) {
                        width: 50%;
                        float: right;
                        position: relative;
                    }
                    .circle-banner-image {

                        @include media-query(normal) {
                            background-image: url("/static/images/main-image.png");
                            border-radius: 999px;
                            width: 390px;
                            height: 390px;
                            background-position: center;
                            margin: 0 1em 0 auto;
                        }
                        @include media-query(giga) {
                            width: 530px;
                            height: 530px;
                        }
                        @include media-query(full) {
                            width: 630px;
                            height: 630px;
                        }
                    }
                    .inner-accreditations {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        width: 100%;

                        @include media-query(normal) {
                            justify-content: flex-end;
                            align-items: flex-end;
                            flex-direction: column;
                            position: absolute;
                            top: 10%;
                        }

                        @include media-query(giga) {
                            top: 20%;
                            right: -45px;
                        }

                        .accrediation {
                            background: #fff url(/static/images/bicsc.png) center no-repeat;
                            background-size: 85%;
                            background-color: $white;
                            border-radius: 999px;
                            width: 93px;
                            height: 93px;
                            border: 1px solid $light_orange;
                            margin-right: 1em;
                            flex: 0 0 auto;

                            @include media-query(normal) {
                                margin: 0 0 1em 0;
                            }

                            @include media-query(full) {
                                width: 100px;
                                height: 100px;
                                margin: 0 0 2em 0;
                            }

                            &:last-child {
                                margin-right: 0.5em;

                                @include media-query(normal) {
                                    margin-right: 0em;
                                }
                            }
                        }
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }
    }
}
