.home-text-image-container {
    @include media-query(full) {
        margin: 5em 0 2em 0;
    }
    > .wrapper-text-left {
        margin: 2em 0 0 0;
        > .left-column {
            width: 100%;

            @include media-query(normal) {
                width: 48%;
                float: left;
            }
            > .heading {
                margin: 0;
            }
            > .content {

            }
            > .find-out-button {
                @include button-orange();
                box-shadow: -3px 3px 8px 0px rgba(59, 102, 173, 0.14);
                margin: 0.5em 0;
                font-size: $font_small;
                text-align: center;
                display: block;
                width: 100%;

                @include media-query(nano) {
                    width: 46%;
                    display: inline-block;
                }
                @include media-query(normal) {
                    padding: 1em 1em;
                }
                @include media-query(giga) {
                    width: 40%;
                    float: left;
                    margin: 0.9em 1.6em 0.5em 0;
                    max-width: 178px;
                }
                @include media-query(full) {
                    padding: 1.5em 1em;
                }
            }
            > .book-app-button {
                @include button-orange();
                box-shadow: -3px 3px 8px 0px rgba(59, 102, 173, 0.14);
                margin: 0.5em 0;
                font-size: $font_small;
                text-align: center;
                display: block;
                width: 100%;
                @include media-query(nano) {
                    width: 46%;
                    display: inline-block;
                    float: right;
                }
                @include media-query(normal) {
                    padding: 1em 1em;
                }
                @include media-query(giga) {
                    width: 40%;
                    float: left;
                    margin: 0.9em 1em 0.5em 0;
                    max-width: 215px;
                }
                @include media-query(full) {
                    padding: 1.5em 1em;
                }
            }
        }
        > .right-column {
            width: 100%;

            @include media-query(normal) {
                width: 46%;
                float: right;
            }

            > .gallery-section {
                @include media-query(normal) {
                    margin: 0;
                }
            }

        }
        .-bold {
            font-weight: $bold_weight;
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    > .wrapper-text-right {
        width: 100%;
        margin: 3em 0 0 0;
        > .left-column {
            width: 100%;

            @include media-query(normal) {
                width: 48%;
                float: left;
            }
        }
        > .right-column {
            width: 100%;

            @include media-query(normal) {
                width: 48%;
                float: right;
            }
            > .heading {
                margin: 0.5em 0 0 0;
            }
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
}