.main-content-container {
    .inner-banner {
        .wrapper {
            background-image: url(/static/images/banner-image.png);
            background-size: cover;
            background-position: center 35%;

            @include media-query(full) {
                padding: 0.75em 2em;
            }
            .inner-wrapper {

                @include media-query(kilo) {
                    display: flex;
                    flex: 0 0 auto;
                    flex-direction: row;
                }
                h1 {
                    color: $font_white;
                    margin: 0 0 1em 0;
                    text-align: center;

                    @include media-query(nano) {
                        text-align: left;
                    }

                    @include media-query(kilo) {
                        margin: 1em 0 1em 0;
                    }
                }
                .inner-accreditations {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    @include media-query(nano) {
                        justify-content: end;
                    }

                    @include media-query(kilo) {
                        align-items: center;
                        margin: 0 0 0 auto;
                    }
                    .accrediation {
                        background: #fff url(/static/images/bicsc.png) center no-repeat;
                        background-size: 85%;
                        background-color: $white;
                        border-radius: 999px;
                        width: 93px;
                        height: 93px;
                        border: 1px solid $light_orange;
                        margin-right: 1em;
                        flex: 0 0 auto;

                        &:last-child {
                            margin-right: 0.5em;
                        }
                    }
                }
            }
        }
    }
}
