.inner-main-content {
    .wrapper {

        @include media-query(full) {
            padding: 0.75em 2em;
        }
        .inner-wrapper {
            display: flex;
            flex: 0 0 auto;
            flex-direction: row;
            flex-wrap: wrap;

            @include media-query(normal) {
                padding: 0;
            }
            .inner-main {
                max-width: 100%;
                width: 100%;
                @include media-query(normal) {
                    max-width: 63%;
                }
                h1 {
                    &:first-child {
                        margin: 0;
                    }
                }
            }
            .inner-side {
                max-width: 100%;
                width: 100%;
                @include media-query(normal) {
                    max-width: 25%;
                    margin: 0 0 0 auto;
                }
            }
            .news-main {
                max-width: 100%;
                width: 100%;
                border-bottom: 1px solid $light-orange;
                @include media-query(normal) {
                    max-width: 63%;
                }
                h1 {
                    &:first-child {
                        margin: 0;
                    }
                }
            }
            .news-sharing {
                max-width: 100%;
                width: 100%;
                margin: 2.5em 0 2em 0;
                display: flex;
                flex-wrap: wrap;

                @include media-query(normal) {
                    max-width: 63%;
                }
                > .back-button {
                    @include button-orange();
                    padding: 0.5em 1em;
                    @include media-query(normal) {
                        margin: 0 auto 0 0;
                    }
                }
                .sharing-buttons {
                        display: inline-block;
                        margin: 0 auto 0 0;

                        @include media-query(nano) {
                            margin: 0 0 0 auto;
                        }

                    > .heading {
                        display: block;
                        vertical-align: bottom;
                        font-size: $font_small;

                        @include media-query(nano) {
                            display: inline-block;
                        }
                    }
                    .share {
                        width: 35px;
                        height: 35px;
                        background-color: grey;
                        display: inline-block;
                        margin: 0 0.25em 0 0.25em;

                        &:last-child {
                            margin: 0 0 0 0.25em;
                        }
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }
    }
}
