.inner-bread-crumb {
    .wrapper {
        .inner-wrapper {
            padding: 0;
            font-size: $font_v_small;

            @include media-query(kilo) {
                padding: 0.5em 0;
            }
            .link {
                color: $font_blue;
                text-decoration: none;

                &:before {
                    content: '>';
                    color: $font_blue;
                    display: inline-block;
                    padding: 0 0.25em;
                }

                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                &:hover {
                    color: $font_navy;
                }
            }
            .span {
                color: $font_blue;

                &:before {
                    content: '>';
                    color: $font_blue;
                    display: inline-block;
                    padding: 0 0.25em;
                }
            }
        }
    }
}
