//
// Layout
//

// Float container
%float-container {
    &::after {
        clear: both;
        content: "";
        display: block;
    }
}


.wrapper {
    padding: 2em 1em;
    margin: 0 auto;
    max-width: 1920px;

    @include media-query(nano) {
        padding: 1em 2em;
    }

}

.inner-wrapper {
    max-width: 1280px;
    margin: 0 auto;

    @include media-query(nano) {
        padding: 1em 0;
    }

    @include media-query(giga) {
        padding: 2em 0;
    }
}
.table-section {
    margin: 3em 0;
    table {
        tr {
            td {
                width: 82%;

                + td {
                    text-align: center;
                }
            }
        }
    }
}



table {
    width: 100%;
    font-size: $font_small;
    tr {
        background-color: $light_blue;
        color: $font_white;
        text-shadow: 0px 0px 2.88px rgba(0, 0, 0, 0.35);
        font-weight: $bold_weight;

        td {
            border: 1px solid $white;
            padding: 0.85em;
            width: 50%;

            + td{
                background-color: #23447a;
            }
        }
    }
}
