.nav-overlay {
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 500;

    @include media-query(milli) {
        display: none;
    }
}

.nav-toggle {
    background-color: $font_white;
    background-image: url(/static/images/mob-menu.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 95% 50%;
    cursor: pointer;
    height: 50px;
    left: 0;
    top: 0;
    width: 50px;
    z-index: 200;
    order: 1;

    @include media-query(milli) {
        display: none;
    }
}

.nav {
    background-color: $white;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
    z-index: 1000;

    @include media-query(nano) {
        right: 0;
    }
    @include media-query(micro) {
        width: 50%;
    }
    @include media-query(milli) {
        margin: 0;
        position: static;
        text-align: left;
        width: auto;
        order: 2;
    }
    @include media-query(kilo) {
        padding: 0 1em;
    }
    @include media-query(giga) {
        order: 0;
    }
    @include media-query(full) {
        padding: 0 0.5em 0.8em 0;
    }
    ul {
        padding: 0;
        margin:0;

        li {
            cursor: pointer;
            padding: 0.5em 0;
            border-top: 1px solid $light_blue;

            @include media-query(milli) {
                display: inline-block;
                padding: 0 0.5em 0 0;
                border-top: none;
            }
            @include media-query(giga) {
                margin: 0 0.5em 0 0.5em;
                padding: 0;
            }

            @include media-query(tera) {
                margin: 0 0.75em 0 0.75em;
            }
            @include media-query(full) {
                margin: 0 1.75em 0 1.75em;
            }

            &:before {
                display: none; //Stops checkmarks from appearing
            }

            &:last-child{
                border-bottom: 1px solid $light_blue;

                @include media-query(milli) {
                    border-bottom: none;
                }
            }

            a {
                display: block;
                color: $font_navy;
                text-decoration: none;
                font-size: 1.222em;

            }
            &:hover {
                background-color: $light_blue;

                @include media-query(milli) {
                    background-color: $white;
                }
                a {
                    color: $font_white;

                    @include media-query(milli) {
                        color: $font_blue;
                    }
                }
            }
        }
        .current-menu-item {
            a {
                border-left: 2px solid $light-orange;
                padding: 0 0 0 0.2em;
            }
        }
        .child-pages {
            &:after {
                content: '';
                display: inline-block;
                background: url(/static/images/triangle.png) no-repeat;
                width: 7px;
                height: 7px;
                padding: 0 0 0.1em 0;
                margin: 0 0 0 0.3em;
            }
        }
    }
}

.-closed {
    display: none;
}
