.newsletter-container {
    background: url("/static/images/newsletter-background.png");
    background-size: cover;
    > .wrapper {
        > .inner-wrapper {
            flex-direction: column;
            display: flex;

            @include media-query(normal) {
                flex-direction: row;
                justify-content: center;
            }
            > .heading {
                font-size: $font_large;
                color: $font_black;
                font-weight: $bold_weight;
                text-align: center;
                padding: 0 0 0.4em 0;

                @include media-query(normal) {
                    text-align: left;
                    padding: 0;
                    font-size: $font_x_large;
                }
            }
            > .text-input {
                font-size: $font_normal;
                max-width: 360px;
                width: 100%;
                margin: 0 auto;
                border: 0;
                padding: 0.5em;

                @include media-query(normal) {
                    max-width: 775px;
                    margin: 0 1em 0 2.5em;
                    font-size: $font_large;
                }
            }
            > .subscribe {
                background-color: $light_blue;
                max-width: 160px;
                width: 100%;
                color: $font_white;
                border: 0;
                font-weight: $bold_weight;
                font-size: $font_normal;
                margin: 1em auto;
                padding: 0.5em;

                @include media-query(normal) {
                    margin: 0;
                    padding: 0;
                }

                &:hover {
                    background-color: lighten($light_blue, 10%);
                }
            }
        }
    }
}
