.inner-main-content {
    .wrapper {
        .inner-wrapper {
            .news-landing-main {
                max-width: 100%;
                width: 100%;
                margin: 0 0 3em 0;
                @include media-query(normal) {
                    max-width: 63%;
                }
                .news-post {
                    border-bottom: 1px solid $light-orange;
                    display: flex;
                    flex-direction: column;
                    margin: 3rem 0 0 0;

                    @include media-query(milli) {
                        flex-direction: row;
                    }
                    .featured-image {
                        max-height: 257px;
                    }
                    .news-post-text {
                        display: flex;
                        flex-direction: column;

                        @include media-query(milli) {
                            margin: 0 0 0 1em;
                        }

                        .heading {
                            font-size: $font_medium;
                            margin: 0.5em 0 0 0;

                            @include media-query(milli) {
                                font-size: $font_nor-med;
                                margin: 0;
                            }
                            @include media-query(full) {
                                font-size: $font_medium;
                            }
                        }
                        .date {
                            font-size: $font_normal;
                            font-weight: $normal_weight;
                            color: $light-orange;
                            margin: 1em 0 0 0;

                            @include media-query(milli) {
                                margin: 0.7em 0 0 0;
                            }
                        }
                        .orange-button {
                            @include button-orange();
                            margin: 0 0 3rem 0;
                            font-size: $font_small;
                            padding: 0.5em 1em;

                            @include media-query(milli) {
                                align-self: flex-start;
                            }
                        }
                    }
                }
            }
        }
    }
}
