.side-orange-nav {
    width: 100%;
    margin: 3em 0;

    @include media-query(micro) {
        width: 48%;
        float: right;
    }

    @include media-query(normal) {
        width: 100%;
        float: none;
    }

    .orange-nav-button {
        background: url("/static/images/side-nav-button.png") no-repeat;
        background-size: cover;
        text-decoration: none;
        position: relative;
        display: block;
        padding: 1.5em 1em;
        border-bottom: solid 1px $white;

        &:after {
            content: url("/static/images/triangle-right-white.png");
            position: absolute;
            right: 14px;
        }
    }
}
