.side-find-more {
    width: 100%;
    margin: 3em 0;

    @include media-query(micro) {
        float: left;
        width: 48%;
    }

    @include media-query(normal) {
        float: none;
        width: 100%;
    }

    .find-more-container {
        margin: 3em 0;

        &:first-child {
            margin: 0 0 3em 0;
        }
        .find-more-image {
            background: url("/static/images/banner-domestic-carpet.jpg") no-repeat 50%;
            width: 100%;
            padding: 5.5em 0;

        }
        .find-more-heading {
            font-size: $font_medium;
            margin: 1em 0 0.5em 0;
            text-align: center;
            color: $dark-orange;
        }
        .find-more-link {
            @include button-orange();
            font-size: $font_small;
            text-align: center;
            display: block;
            padding: 1em;
            margin: 0 auto;
            max-width: 50%;
            width: 100%;
        }
    }
    .-carpet {
        .find-more-image {
            background: url("/static/images/banner-domestic-carpet.jpg") no-repeat 50%;
        }
    }
    .-commercial {
        .find-more-image {
            background: url("/static/images/commercial-carpet.jpg") no-repeat 50%;
        }
    }
}

