.side-get-quote {
    width: 100%;
    margin: 3em 0;
    background: url("/static/images/get-quote.png") no-repeat;
    background-size: cover;
    padding: 3em 1em;

    @include media-query(micro) {
        float: right;
        width: 48%;
    }

    @include media-query(normal) {
        float: none;
        width: 100%;
    }

    .get-quote-heading {
        font-size: $font_medium;
        margin: 0;
        color: $font_white;
        text-align: center;
        text-transform: uppercase;
    }
    .get-quote-text {
        text-align: center;
        color: $font_white;
    }
    .get-quote-link {
        @include button-orange();
        font-size: $font_small;
        text-align: center;
        display: block;
        margin: 0 auto;
        max-width: 155px;
        padding: 0.5em 1em;
    }
}
