.inner-side {
    .side-sub-nav {
        margin: 0 0 2em 0;

        h3 {
            margin-top: 0;
        }
        ul {
            padding: 0;
            margin: 0.5em 0 0 0;

            li{
                border-top: 2px solid $light-orange;
                padding: 0.7em 0 0.7em 1em;
                position: relative;

                &:last-child {
                    border-bottom: 2px solid $light-orange;
                }

                &:before {
                    display: none;
                }

                a{
                    text-decoration: none;
                    color: $font_blue;
                    display: block;

                    &:after {
                        content: url("/static/images/triangle-right.png");
                        position: absolute;
                        right: 1em;
                        bottom: 13px;
                    }
                }
            }
        }
    }
}
