.testimonal-container {
    background: url("/static/images/footer-background.png") no-repeat;
    background-size: cover;
    padding: 1em;
    position: relative;

    .wrapper {
        > .heading {
            color: $font_white;
            text-align: center;
            margin-top: 0;
        }
        > .prev {


            @include media-query(nano) {
                @include round-button-left();
                top: 40%;
                left: 3%;
            }
            @include media-query(mega) {
                left: 16.5%;
            }
        }
        > .next {

            @include media-query(nano) {
                @include round-button-right();
                top: 40%;
                right: 5%;
            }
            @include media-query(mega) {
                right: 16.5%;
            }
        }
        > .carousel {
            max-width: 90%;
            margin: 1em auto;
            color: $font_white;
            position: relative;

            @include media-query(mega) {
                max-width: 50%;
                margin: 6.5em auto 4em auto;
            }
            .testimonal {
                font-size: $font_nor-med;
                font-style: italic;
                text-align: center;
                white-space: normal;
                vertical-align: middle;
                line-height: 2em;

                &:before {
                    content: '\201C';
                    display: inline-block;
                }
                &:after {
                    content: '\201D';
                    display: inline-block;
                }
            }
        }
        > .trustist {
            margin: 0 auto;
            display: block;
            width: 100%;
            max-width: 223px;
            padding: 2em 0 0 0;
        }
    }
    &:before {

        @include media-query(kilo) {
            color: rgba(255,255,255,0.2);
            content:"\201C";
            display: block;
            height: 0.5em;
            position: absolute;
            font-size: 20em;
            top: 34px;
            left: 0em;
            line-height: 1em;
        }

        @include media-query(mega) {
            top: 34px;
            left: 0.84em;
        }
    }
    &:after {

        @include media-query(kilo) {
            color: rgba(255,255,255,0.2);
            content:"\201D";
            display: block;
            height: 0.5em;
            position: absolute;
            font-size: 20em;
            bottom: 109px;
            right: 0em;
            line-height: 1em;
        }
        @include media-query(mega) {
            bottom: 109px;
            right: 0.84em;
        }
    }
}
